@use "../abstracts/mixins" as mix;

.accordion-header {
  background-color: rgb(226, 210, 210);
  padding: 4px;
  margin: auto;
  width: 95%;
  border: black solid 2px;
  border-radius: 7px;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;

  & span {
    grid-column: 2 / 3;
  }

  & img {
    margin: auto 0;

    @include mix.respond-tablet {
      opacity: 0;
    }
  }

  @include mix.respond-tablet {
    min-width: fit-content;
    font-size: 1.8rem;
    font-weight: 700;
    background-color: transparent;
    border: none;
  }
}

img.arrow-icon {
  width: 40px;
  height: 10px;
  rotate: 180deg;
  object-fit: cover;
  // transition: rotate 0.3s ease-in-out; // animacja przeniesiona tutaj
}

// img.arrow-icon.rotated {
//   rotate: 0deg;
// }

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s;
  padding: 0 1rem;

  @include mix.respond-tablet {
    max-height: min-content; /* wysokość docelowa */
    overflow: visible;
    transition: none;
    padding: 1rem 1.3rem;
  }
}

.accordion-content.open {
  max-height: min-content; /* wysokość docelowa */
  padding: 1rem 1.3rem;
}
