@use "../abstracts/mixins" as mix;

.info {
  &__section {
    &--aboutMe {
      grid-area: description;
    }

    &--skills {
      grid-area: skills;
    }

    &--contact {
      grid-area: "skills contact";
    }
  }

  @include mix.respond-desktop {
    margin-top: 5.5rem;
  }

  @include mix.respond-largeDesktop {
    margin-top: 0;
  }
}
