@use "../abstracts/mixins" as mix;

.projects {
  @include mix.respond-smallTablet {
    display: flex;
    justify-content: space-evenly;
  }

  @include mix.respond-tablet {
    position: relative;
  }

  @include mix.respond-desktop {
    position: relative;
    min-height: 250px;
  }

  &__item {
    list-style: none;
    padding: 1rem 0;

    @include mix.respond-tablet {
      width: 100%;
      height: 100%;
      position: absolute;
    }

    &--1 {
      @include mix.respond-tablet {
        bottom: 0px;
        left: -70px;
      }
    }

    &--2 {
      @include mix.respond-tablet {
        bottom: -40px;
        left: 90px;
      }
    }

    &--3 {
      @include mix.respond-tablet {
        bottom: -100px;
        left: -25px;
      }
    }
  }

  &__img {
    width: 80%;
    aspect-ratio: 2/1;
    border: rgb(25, 25, 239) 1px solid;
    border-radius: 0.7rem;
    box-shadow: 0.3rem 0.3rem 1rem rgb(22, 0, 63);

    @include mix.respond-tablet {
      width: 70%;
    }

    @include mix.respond-laptop {
      width: 80%;
    }

    @include mix.respond-desktop {
      width: 90%;
    }
  }
}

.preview {
  @include mix.respond-smallTablet {
    transform: scale(1.4);
    z-index: 10;
    position: relative;
    transition: transform 0.3s ease;
  }

  @include mix.respond-tablet {
    transform: scale(1.2);
  }
}
