.skills {
  // padding: 0 2rem 2rem 2rem;
  text-align: left;

  &__heading {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }

  &__list {
    list-style: none;
    margin-left: 1rem;
  }

  &__item {
    font-size: 1.5rem;
  }

  &__icon {
    width: 1.5rem;
  }
}
